
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%; 
}
.logo__image{
    display: flex;
    margin-top: 14px;
    margin-left: 96px; 
}
.logo__title{
    display: flex;
    color: white;
    line-height: 28.13px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
