*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --primary-color:  #3347B0;
}

body{
    display: grid;
    grid-template-areas: "content";
    
}

header{
    grid-area: content;
    display: flex;  
    background-color: var(--primary-color);
    height: 100px;
    flex-direction: row; 
}
main{
    grid-area: content;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* footer{
    display: flex;
    background-color: var(--primary-color);
    height: 140px;
} */