.description-home{
    grid-area: content;
    gap: 44px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blue-text{
    color: #3347B0;
    font-weight: 700;
    font-size: 57.38px;
    line-height: 67.24px;
}
.description__text {
    display: flex;
    font-weight: 300;
    color: black;
    line-height: 67.24px; 
    font-size: 57.38px;
    font-family: 'Roboto', sans-serif;
}
.text{
    width: 550px; 
    font-weight: 300;
    color: black;
    font-size: 57.38px;
    font-family: 'Roboto', sans-serif;
}
.description__image{
    display: flex;
    width: 436px;
    height: 262px;
}

.image-studant{
    display: flex;
    margin-right: 35%; 
}