body{
    height: 100vh;
    display: grid;
    grid-template-areas: "content";
    
}

main{
    display: flex;
    height: 68%;
    align-items: center;
    justify-content: center;
    grid-area: content;
    flex-direction: row;
}