:root {
    --primary-color: #3347B0;
}

html,
body {
    display: flex;
    height: 100vh;
    width: 100%;
}


header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    height: 120px;
    color: white;
    font-size: 1rem;

}

footer p a:hover {
    font-style: oblique;
}

@media (max-width: 640px) {
    
    body {
        overflow-x: hidden
    }

    main {
    display: flex;
    align-items: center;
    justify-content: center;

}
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 100%;
        gap: 100px;
    }
}