:root{
    --primary-color:  #3347B0;
}

html, body{
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}


header{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    height: 15%
}

main{
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    height: 15%;
    color: white;
    font-size: 1rem;
}

footer p a:hover {
    font-style: oblique;
}

@media (max-width:960px){

    header{
        height: 90px;

    }
    footer{
        height: 10rem;
        padding-left: 3.86rem;
        padding-right: 3.86rem;
    }
}

@media (max-width: 640px){
    
    header{
        height: 80px;
    }
    footer{
        height: 42rem;
        display: grid;
        grid-template-areas: 
        "contact"
        "social"
        "copyright"; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 2fr 1fr;
    }
}