*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color:  #3347B0;
}

header{
    display: flex;
    background-color: var(--primary-color);
    height: 100px;
}

footer{
    display: flex; 
    font-family: 'Roboto', sans-serif;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    height: 12.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

footer p a:hover {
    font-style: oblique;
}

@media (max-width:960px){

    header{
        height: 90px;
    }

    main{


    }

    footer{
        height: 10rem;

    }
}

@media (max-width: 640px){
    
}