:root {
    --primary-color: #3347B0;
    --secondary-color: #BCC2E5;
    --yellow-color: #E5B657;
}



body{
    display: flex;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    height: 150px;        
}

.course-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



select {
    background: none;
    appearance: none;
    border: none;
    outline: none;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
}

select option {
    display: flex;
    color: white;
    font-size: 1.5rem;
    background-color: var(--primary-color);
}



footer p a:hover {
    font-style: oblique;
}

.status-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    height: 80px;
    width: 100%;

}

.status {
    display: flex;
    align-items: center;
}

.subtitle {
    display: flex;
    gap: 2.4rem;
}

.subtitle-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.block {
    width: 20px;
    height: 20px;
}

.blue-block {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.580);
    background-color: var(--primary-color);
}

.yellow-block {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.735);
    background-color: var(--yellow-color);
}

.title-course {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);

}

#box{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* container dos cards dos alunos */
.container-students {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: center;
    cursor: pointer;
    flex-wrap: wrap;
    height: 100%    ;

}

.students__finished {
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    background-color: var(--yellow-color);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.749);
}

.students__studying {
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.749);
}

.students__name {
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.students__image {
    display: flex;
    width: 200px;
    height: 200px;
}