@media (max-width: 640px) {
        .course-container {
        display: grid;
        grid-template-rows: 110px 2fr 140px;
        grid-template-areas:
        'header'
        'main'
        'footer';
        height: 100vh;
        width: 100%;
    }

    header {
        width: 100%;
        grid-area: header;
    }

    main {
        display: flex;
        width: 100%;
        grid-area: main;
    }

    #box{
        justify-content: start;
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    select option {
        display: flex;
        color: white;
        font-size: 1rem;
        background-color: var(--primary-color);
    }


    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
        gap: 100px;
 
    }


    .allInformations {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        gap: 70px;
        margin-top: 30px;
    }

    .social-container ul{
        display: flex;
        flex-direction: row;
    }

    .status-container {
        padding: 1rem 4rem;
        font-size: 1rem;
    }

    .subtitle {
        gap: 1.2rem;
    }

    .block {
        width: 15px;
        height: 15px;
    }

    .title-course {
        font-size: 2.3rem;
        text-align: center;
        padding: 2rem;
    }

    .container-students {
        gap: 50px;
        height: 600px;
        overflow-y: scroll;
    }

    .container-students a {
        height: 300px;
    }

    .students__finished {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 310px;
    }

    .students__studying {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 310px;
    }

    .students__name {
        font-size: 22px;
    }

    .students__image {
        width: 200px;
        height: 200px;
    }

    .contact {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-top: 50px;
    }


    .social {
        gap: 0.8rem;
        flex-direction: column;
    }

    .social-icon {
        padding: 2rem;
        font-size: 2rem;
    }

    .contact-info {
        gap: 1rem;
    }

    .text-contact {
        font-size: 1.2rem;
    }

    .fa-solid {
        font-size: 1.75rem;
    }

    .copyrigth {
        display: flex;
        place-items: center;
        font-size: 18px;
        width: 300px;

    }
}