body{
    height: 100vh;
}

main{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    height: 57.3vh;
}

.chart-area{
    width: 500px; 
    height: 400px;
    display: flex;
}

.informations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 250px;
    height: 400px;
    margin-bottom: 4.5%;
}

.student-profile {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 100%;
    border-radius: 53px;
    background-color: white ;
    box-shadow: 20px 20px 35px #8b8b8b, -20px -20px 35px #ffffff;
}

.student-image{
    display: flex;
    width: 350px;
    height: 350px;
}

.student-name{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-color);
}
@media (max-width:960px){

}

@media (max-width: 640px){
    
}